<footer class="page-footer yellow darken-2">
    <div class="container">
      <div class="row center-align">
        <div class="col l4 m4 s6">
          <img id="img-footer" src="./img/versionVertical.png" alt="LogoFooter">
        </div>
        <div class="col l2 m4 s6 l-media-menu">
          <h4 class="text-footer-menu">Menú</h4>
          <ul>
            <li><a class="text-footer-menu size" href="#!">Home</a></li>
            <li><a class="text-footer-menu size" href="#!">Nosotros</a></li>
            <li><a class="text-footer-menu size" href="#!">Productos</a></li>
            <li><a class="text-footer-menu size" href="#!">Contacto</a></li>
          </ul>
        </div>
        <div class="col l2 hide-on-med-and-down" id="footer-menu-2">
          <ul>
            <li><a class="text-footer-menu size" href="#!">Home</a></li>
            <li><a class="text-footer-menu size" href="#!">Nosotros</a></li>
            <li><a class="text-footer-menu size" href="#!">Productos</a></li>
            <li><a class="text-footer-menu size" href="#!">Contacto</a></li>
          </ul>
        </div>
        <div class="col l4 m4 s12 center-align l-media-subs">
          <form id="subscribe" action="/" method="GET">
            <h4 class="subs">¡Suscríbete!</h4>
            <input class="suscribe-email" id="email" type="email" class="validate" placeholder="Correo...">
            <button class="btn send-email waves-effect waves-pink waves-ripple" type="submit" name="action">Enviar
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row redes-copyright">           
          <div class="col s12 m8 l6 caja-redes center-align">
            <span id="redes">Síguenos</span>
            <a class="right-align" href="https://www.facebook.com/" target="_blank"><img class="img-redes" src="img/redes/icons8-facebook-100.png" alt=""></a>
            <a class="right-align" href="https://twitter.com/" target="_blank"><img class="img-redes" src="img/redes/icons8-twitter-100.png" alt=""></a>
            <a class="right-align" href="https://www.instagram.com/" target="_blank"><img  class="img-redes"src="img/redes/icons8-instagram-100.png" alt=""></a>
          </div>
          <div class="col s12 m4 l6 caja-copyright center-align">
            <p>© 2021 Copyright by PetItMx</p>
          </div>

        </div>
      
      </div>
    </div>
</footer>