<header>
    <!-- Comienza Navbar -->
  <nav class="nav-extended yellow darken-2">
    <div class="row pt1">

      <div class="col s12 center-align logo hide-on-med-and-up">
        <a href="/"><img class="logo-size" src="/img/versionLimpia.png" alt=""></a>
      </div>
      <div class="col m3 l3 center-align logo hide-on-small-only">
        <a href="/"><img class="logo-size" src="/img/versionHorizontal.png" alt=""></a>
      </div>

      <div class="col s12 m9 l9 buscador">
        <div class="row">
          <div class="col s12 m6 l6 center-align">
            <div class="search_wrap search_wrap_3">
              <div class="search_box">
                <form class="flex-container barra-busqueda" action="/" method="GET">
                  <input type="text" class="input" placeholder="search...">
                  <div class="btn btn_common">
                    <i class="fas fa-search"></i>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col m6 offset-l1 l5 login-sign-up botones-navbar hide-on-small-only">
            <div class="row">
              <div class="col">
                <a href="/users/register">
                  <span class="boton-navbar">Registrate <i class="fas fa-user-plus icon-padding"></i></span>
                </a>   
              </div>
              <div class="col offset-m1">
                <a href="/users/login">
                  <span class="boton-navbar">Login <i class="fas fa-sign-in-alt icon-padding"></i></span>   
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>     
      
      <div class="col s12 hide-on-med-and-up">
        <div class="nav-wrapper burger-menu">
          <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="fas fa-bars"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="row hide-on-small-only mb0">
      <div class="nav-wrapper">
        <ul id="menu" class="left">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
          <li><a href="#">Animales</a>
            <ul class="submenu">
              <li><a href="#">Perros</a></li>
              <li><a href="#">Gatos</a></li>
              <li><a href="#">Peces</a></li>
            </ul>
          </li>
          <li><a href="/products">Productos</a></li>
          <li><a href="/users/contact">Contacto</a></li>
        </ul>
        <ul class="right" id="position-cart-fav">
          <li><a href="#"><i class="large red-text material-icons">favorite</i></a></li>
          <li>$0.00</li>
          <li><a href="/products/productCart"><i class="large brown-text material-icons">shopping_basket</i></a></li>
        </ul>
      </div>
    </div> 
    
  </nav>
  <!-- Fin del navbar-->

  <!-- Contenido de menú versión mobile -->
  <ul class="sidenav" id="mobile-demo">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/nosotros">Nosotros</a></li>
    <li><a href="#" data-target='dropdown1' class='dropdown-trigger'>Animales</a>
    </li>
    <li><a href="#">Productos</a></li>
    <li><a href="/users/contact">Contacto</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/users/register"><i class="material-icons">person_add</i>Registrate</a></li>
    <li><a href="/users//login"><i class="material-icons">forward</i>Login</a></li>
  </ul>

   <!-- Estructura Dropdown para animales -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Perros</a></li>
    <li><a href="#!">Gatos</a></li>
    <li><a href="#!">Peces</a></li>
    <li><a href="/">Otros</a></li>
  </ul>

</header>