<header>
    <!-- Comienza Navbar -->
  <nav class="nav-extended yellow darken-2">
    <div class="row">
      <div class="col s12 m3 l3 center-align logo">
        <a href="/"><img class="logo-size" src="/img/versionLimpia.png" alt=""></a>
      </div>
      <div class="col s12 m5 l5 center-align buscador">
        <div class="search_wrap search_wrap_3">
          <div class="search_box">
            <form action="/" method="GET">
              <input type="text" class="input" placeholder="search...">
              <div class="btn btn_common">
                <i class="fas fa-search"></i>
              </div>
            </form>
          </div>
        </div>  
      </div>
      <div class="col s12 hide-on-med-and-up">
        <div class="nav-wrapper burger-menu">
          <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="fas fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="col m4 l4 hide-on-small-only login-sign-up">
        <div class="row">
          <div class="col m6 l6">
            <a href="/register">
              <span class="boton-navbar">Registrate <i class="fas fa-user-plus icon-padding"></i></span>
            </a>       
          </div>
          <div class="col m6 l6">
            <a href="/login">
              <span class="boton-navbar">Login <i class="fas fa-sign-in-alt icon-padding"></i></span>   
            </a>   
          </div>
        </div>
      </div>             
    </div>
  </nav>
  <!-- Fin del navbar-->

  <!-- Contenido de menú versión mobile -->
  <ul class="sidenav" id="mobile-demo">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="#">Nosotros</a></li>
    <li><a href="#" data-target='dropdown1' class='dropdown-trigger'>Animales</a>
    </li>
    <li><a href="#">Productos</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Contacto</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/register"><i class="material-icons">person_add</i>Registrate</a></li>
    <li><a href="/login"><i class="material-icons">forward</i>Login</a></li>
  </ul>

   <!-- Estructura Dropdown para animales -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Perros</a></li>
    <li><a href="#!">Gatos</a></li>
    <li><a href="#!">Peces</a></li>
    <li><a href="/">Otros</a></li>
  </ul>

</header>