/*MEDIA QUERIES*/ 

/* Teléfonos & larger smartphones (481 - 600) */
@media only screen and (max-width: 600px) {  

  #inicioSesion {
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 10px;
  }
  #imagenInicioS {
      display: none;
  }
}


/* Medium devices (landscape tablets, laptops, 601px - 1279px) */
@media only screen and (min-width: 601px) {

  .row .col.m4.buscador {
    margin-top: 35px;
  }

  /* Contacto */

  .contact-image{
    margin: 20px -35px;
    width: 90%;
    height: auto;
  }

  /* Fin de contacto */
  
  .boton-navbar{
    margin-right: 10px;
  }
  
  .icon-padding{
    padding-left: 10px;
  }

  .fa-user-plus {
    width: 10px;
    height: auto;
}

  .caja-copyright{
    margin-top: 12px;
  }
  .card {
    width: 100%;
    height: 400px !important;
    margin: 10px 0px !important;
  }

  .slider{
    height: 380px !important;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .slides {
    height: 350px !important;
  }

  #img-footer{
    width: 50%;
    margin-top: 15px;
    margin-left: -50px;
  }

  .suscribe-email{
    height: 30px !important;
    width: 90% !important;
  }

  .send-email{
    margin-top: 10px;
  }
 
  /* productDetail.html */
  .imagen-producto {
    width: 50%;
  }
  
  .tproducto {
    width: 50%;
    padding-top: 3rem;
  }

  .caracteristicas-tproducto {
    width: 50%;
  }
  
  .promo-tproducto .fas {
    width: 50%;
  }
  
  .promo-tproducto {
    width: 50%;
  }

  .tarjeta-inferior-producto {
    padding: 3rem;
  }

  .tarjeta-superior-producto {
    margin: 1rem;
    justify-content: space-around;
  }

  #barra-lateral-izquierda {
    width: 20%;
  }

  .container-product {
    flex-wrap: inherit;
  }

  .productList {
    margin-right: 20px;
    width: 200%;
  }

  .card-sign-up {
    margin: 20px auto;
    width: 65%;
  }

  .buscador {
    margin-top: 1rem;
  }

}

/* large devices (larger desktops, 1280+) */
@media only screen and (min-width: 1000px) {

  .hide-on-small-only .logo-size{
    width: 60%;
    padding: 15px 0px;
  }

   /* Contacto */

  .contact-image{
    margin: 20px -35px;
    width: 65%;
    height: auto;
  }

  /* Fin de contacto */


  .card-sign-up {
    margin: 20px auto !important;
    width: 60% !important;
  }

  .caja-copyright{
    margin-top: 12px;
  }

  .card {
    width: 100%;
    margin: 10px 0px !important;
  }

  .slider{
    height: 480px !important;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .slides {
    height: 450px !important;
  }

  #img-footer{
    width: 50%;
    margin-top: 15px;
    margin-left: -120px;
  }

  .suscribe-email{
    height: 30px !important;
    width: 90% !important;
  }

  .subs{
    font-size: 3rem;
  }

  .l-media-menu{
    margin-left: -30px !important;
  }

  .l-media-subs{
    margin-left: 30px !important;
  }

  #footer-menu-2{
    margin-top: 74px;
  }


  .send-email{
    margin-top: 10px;
  }

  .botones-navbar-favshopbag {
    margin-top: 20px;
  }

  .boton-navbar-fav {
    font-size: 2.5rem;
  }

}
