/*MEDIA QUERIES*/ 

/* Teléfonos & larger smartphones (481 - 768) */
@media only screen and (max-width: 768px) {   
  
  #img-footer{
    width: 40%;
  }

  #nav-principal #barra-central-nav .menu {
    display: none;
  }
  #nav-principal #barra-central-nav .burger-menu {
    margin-top: 15px;
  }
  #nav-principal #barra-derecha-nav {
    display: none;
  }
  #nav-principal .logo {
    width: 50%;
    height: 50%;
    margin-bottom: 15px;
  }
  #nav-principal {
    flex-direction: column;
  }

  #nav-principal .busqueda input {
    width: 250px;
  }

  #nav-principal .logo-navbar {
    margin-bottom: 20px;
    width: 30%;
    height: 30%; 
    max-width: 30%;
    max-height: 30%;
  }

  #inicioSesion {
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 10px;
  }
  #imagenInicioS {
      display: none;
  }
}


/* Medium devices (landscape tablets, laptops, 769px - 1279px) */
@media only screen and (min-width: 769px) {
  .burger-menu {
    display: none;
  }

  .logo-footer{
    text-align: center;
    width: 25%;
  }

  #img-footer{
    width: 30%;
    margin: 0%;
  }
 
  #nav-principal {
    justify-content: space-around;
  }
  #nav-principal .logo {
    margin-bottom: 15px;
  }
  #nav-principal .menu {
    margin-top: 15px;
  }

  /* productDetail.html */
  .imagen-producto {
    width: 50%;
  }
  
  .tproducto {
    width: 50%;
    padding-top: 3rem;
  }

  .caracteristicas-tproducto {
    width: 50%;
  }
  
  .promo-tproducto .fas {
    width: 50%;
  }
  
  .promo-tproducto {
    width: 50%;
  }

  .tarjeta-inferior-producto {
    padding: 3rem;
  }

  .tarjeta-superior-producto {
    margin: 1rem;
    justify-content: space-around;
  }

  .logo-navbar {
    content: url("/img/versionHorizontal.png");
  }

  #nav-principal .logo-navbar {
    width: 19%;
    height: 19%; 
    max-width: 19%;
    max-height: 19%;
  }
  #barra-lateral-izquierda {
    width: 20%;
  }

  .container-product {
    flex-wrap: inherit;
  }

  .productList {
    margin-right: 20px;
    width: 200%;
  }
}

/* large devices (larger desktops, 1280+) */
@media only screen and (min-width: 1000px) {

  .logo-footer{
    text-align: center;
    width: 25%;
  }

  #img-footer{
    width: 20%;
    margin: 0%;
  }  

  #nav-principal {
    justify-content: space-around;
  }

  .botones-navbar-favshopbag {
    margin-top: 20px;
  }

  .boton-navbar-fav {
    font-size: 2.5rem;
  }

  #nav-principal .logo-navbar {
    width: 15%;
    height: 15%; 
    max-width: 15%;
    max-height: 15%;
  }
  
}
