/*MEDIA QUERIES*/ 

/* Teléfonos & larger smartphones (481 - 768) */
@media only screen and (max-width: 768px) {   
  
  #img-footer{
    width: 40%;
  }

  #nav-principal #barra-central-nav .menu {
    display: none;
  }
  #nav-principal #barra-central-nav .burger-menu {
    margin-top: 15px;
  }
  #nav-principal #barra-derecha-nav {
    display: none;
  }
  #nav-principal .logo {
    width: 50%;
    height: 50%;
    margin-bottom: 15px;
  }
  #nav-principal {
    flex-direction: column;
  }

}


/* Medium devices (landscape tablets, laptops, 769px - 1279px) */
@media only screen and (min-width: 769px) {
  .burger-menu {
    display: none;
  }

  .logo-footer{
    text-align: center;
    width: 25%;
  }

  #img-footer{
    width: 30%;
    margin: 0%;
  }
 
  #nav-principal {
    justify-content: center;
  }
  #nav-principal .logo {
    margin-bottom: 15px;
  }
  #nav-principal .menu {
    margin-top: 15px;
  }  
}

/* large devices (larger desktops, 1280+) */
@media only screen and (min-width: 1000px) {

  .logo-footer{
    text-align: center;
    width: 25%;
  }

  #img-footer{
    width: 20%;
    margin: 0%;
  }
  
} 
