<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mediaqueries.css">
    <!-- Fav icon-->
    <link rel="shortcut icon" type="image/png" href="img/favicon/favicon128.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>PetItMx</title>
  </head>
  <body>
    <header>
      <nav class="flex-container" id="nav-principal">
        
        <img class="logo" src="./img/versionLimpia.png"></img>
        <div class="flex-container" id="barra-central-nav">

          <div class="busqueda">
            <input type="text" placeholder="Buscar productos">
            <i class="fas fa-search"></i>
          </div>

          <div class="menu">
            <ul class="flex-container">
              <li><a href="#">Home</a></li>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Animales</a></li>
              <ul>
                <li><a href="#">Perros</a></li>
                <li><a href="#">Gatos</a></li>
                <li><a href="#">Peces</a></li>
              </ul>
              <li><a href="#">Productos</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </div>

          <div class="burger-menu">
              <i class="fas fa-bars"></i>
          </div>

        </div>

        <div class="flex-container" id="barra-derecha-nav">
          
          <div>
            <span>Registrate</span><i class="fas fa-user-plus"></i>
            <span>Login</span><i class="fas fa-sign-in-alt"></i>
          </div>

          <div>
              <i class="fab fa-gratipay"></i>
              <span>$0.00</span>
              <i class="fas fa-shopping-bag"></i>
          </div>

        </div>

      </nav>
    </header>
    <main>
			
    </main>

    <!-- FOOTER -->

    <footer class="footer-flex">
      <div class="logo-footer">
        <img id="img-footer" src="./img/versionVertical.png" alt="LogoFooter">
      </div>
      <div class="enlaces-1">
        <p>Apartado 1 </p>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </div>
      <div class="enlaces-2">
          <p>Apartado 2 </p>
          <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
          </ul>
      </div>
      <div class="email-dudas">
        <form id="subscribe" action="/" method="POST">
          <p>¡Suscríbete!</p>
          <input id="email-box" type="text" placeholder="Correo...">
          <button id="btnSend" type="submit" value="Enviar">ENVIAR</button>
        </form>
          
      </div>
      <div class="copyright-text">
        <div class="derechosAutor">
            <p>© 2021 Copyright by PetitMx</p>
        </div>
          <div class="redesSociales">
              <p id="redes">SÍGUENOS</p>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"> <i class="fab fa-instagram"></i></a>
              <a href="#"> <i class="fab fa-facebook"></i></a>
          </div>
        </div>
    </footer>
    
  </body>

</html>
