<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %> 
   
    <div class="parallax-container">
      <div class="parallax"><img class="img-parallax" src="img/pets.jpg" alt="parallax-pet"></div>
    </div>
    <main class="fondo-main">
      <div class="container">  
        <div class="row"> 
            <div class="col s12 m12 l12 brown-text center-align">
              <h3><b>QUIENES SOMOS</b></h3> 
              <div class="divider"></div>
            </div>
        </div>
        <div class="row center-align v-align">
          <div class="col l6 m6 s12">
            <p class="text-somos">En el 2021 iniciamos nuestro viaje en México, socios 100% mexicanos con un nombre del juego de palabras Pet(del Inglés, mascota), It(del Inglés, cosas) y Mx(abreviatura de México).
               La Tienda de PetItMx es una increíble tienda de accesorios para perros totalmente online en donde encontraras los mejores accesorios y alimentos para tu mascotas.
               Es la tienda para mascotas más surtida de México. Somos especialistas en juguetes, accesorios y alimentos para el cuidado de tu mascota.</p>
          </div>
          <div class="col l6 m6 s12">
            <div class="video-container">
              <iframe width="600" height="300" src="https://www.youtube.com/embed/LzvX2-R6cyM" frameborder="0"  allowfullscreen></iframe>
            </div>
          </div>
        </div> 
        <div class="row center-align v-align">
          <div class="col s12 m6 l6">
              <img class="responsive-img" src="img/dog-nosotros.jpg">
          </div>
          <div class="col s12 m6 l6">
            <p class="text-somos">En PetItMx nos preocupa la creciente población de perros abandonados, estamos convencidos que el sano convivió y cuidado de nuestras perros fortalecerá los lazos entre los perros y sus familias, atenuando este problema de abandono. 
              Por eso pusimos esta tienda, en ella van a poder encontrar accesorios cuidadosamente seleccionados que te ayudaran a generar estos lazos. </p>
          </div>
        </div>
        <div class="divider separation"></div>
        <div class="row center-align">
          <div class="col l4 m4 s12">
            <i class="large material-icons icon-brown">remove_red_eye</i>
            <h2 class="brown-text">Visión</h2>
            <p class="letra1">Ser una marca reconocida por el mercado como otra importante opción ubicando PetItMx en las principales ciudades de México.</p>
          </div>
          <div class="col l4 m4 s12">
            <i class="large material-icons icon-brown">stars</i>
            <h2 class="brown-text">Misión</h2>
            <p class="letra1">Somos una empresa humanamente comprometida con el bienestar y salud de las mascotas, brindando un servicio integral y productos de excelente calidad.</p>
          </div>
          <div class="col l4 m4 s12">
            <i class="large material-icons icon-brown">pets</i>
            <h2 class="brown-text">Valores</h2>
            <p class="letra1"><b>Respeto:</b> Como parte de las actividades del recurso humano y para el servicio al cliente ocupado por el bienestar de sus mascotas.</p>
            <p class="letra1"><b>Humanismo:</b> En todas las actividades que involucran a todas y cada una de las mascotas que llegan a PetItMx.</p>
          </div>
        </div> 
        <div class="divider separation"></div>
        <div class="row center-align">
          <img  class="responsive-img" src="img/versionLimpia.png" alt="logo">
        </div>
        <div class="divider"></div>
      </div>			
    </main>

    <div class="parallax-container">
      <div class="parallax"><img class="img-parallax" src="img/dog-parallax.jpg" alt="parallax-pet"></div>
    </div>

    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>
    <!--FIN DEL FOOTER -->
    
    <!-- JavaScript -->

    <!-- jQuery first, then Popper.js, then Materialize JS -->
  <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/app2.js"></script>

  </body>

</html>
