<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head.ejs') %>
  <body>
    <div class="preload">
      <img class="petitLoader" src="./img/Principal.png" alt="petitmx">
      <img class="huella1" src="./img/footprint.png" alt="huella1">
      <img class="huella2" src="./img/footprint.png" alt="huella2">
      <img class="huella3" src="./img/footprint.png" alt="huella3">
      <img class="huella4" src="./img/footprint.png" alt="huella4">
    </div>
    <%- include('partials/header.ejs') %> 
    <main>
      
        <div class="container">
            <img class="responsive-img" src="../img/404.png" alt="404 error">
        </div>

    </main>

    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>
    <!--FIN DEL FOOTER -->

  </body>

  <!-- jQuery first, then Popper.js, then Materialize JS -->
  <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/app2.js"></script>

</html>
