<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mediaqueries.css">
    <!-- Fav icon-->
    <link rel="shortcut icon" type="image/png" href="img/favicon/favicon128.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>PetItMx</title>
  </head>
  <body>
    <header>
      <nav class="flex-container" id="nav-principal">
        
        <img class="logo-navbar"></img>
        <div class="flex-container" id="barra-central-nav">

          <form class="busqueda" method="GET" action="/">
            <input type="text" placeholder="Buscar productos">
            <i class="fas fa-search"></i>
          </form>

          <div class="menu">
            <ul id="menu" class="flex-container">
              <li><a class="boton-inicial" href="#">Home</a></li>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Animales</a>
                <ul class="submenu">
                  <li><a href="#">Perros</a></li>
                  <li><a href="#">Gatos</a></li>
                  <li><a href="#">Peces</a></li>
                </ul>
              </li>
              <li><a href="#">Productos</a></li>
              <li><a href="#">Blog</a></li>
              <li><a class="boton-final" href="#">Contacto</a></li>
            </ul>
          </div>

          <div class="burger-menu">
              <i class="fas fa-bars"></i>
          </div>

        </div>

        <div class="flex-container" id="barra-derecha-nav">
          
          <div class="botones-navbar-registrologin">
            <span class="boton-navbar-registrate">Registrate <i class="fas fa-user-plus"></i></span>
            <span class="boton-navbar-login">Login <i class="fas fa-sign-in-alt"></i></span>
          </div>

          <div class="botones-navbar-favshopbag">
              <i class="fab fa-gratipay boton-navbar-fav"></i>
              <span class="precio-navbar">$0.00</span>
              <i class="fas fa-shopping-bag boton-navbar-shopbag"></i>
          </div>

        </div>

      </nav>
    </header>
    <main>
      <section>
        <div class="flex-container tarjeta-superior-producto">
          <div class="contenedor-imagen">
            <img class="imagen-producto" src="./img/productos/shampooHartzPuppy.png"></img>
          </div>  
          <div class="tproducto">
            <h3>Shampoo para puppy Hartz</h3>
            <hr>
            <p class="precio-producto"><b>$358</b></p>
            <h4>Descripción</h4>
            <div class="descripcion-producto">
              <p>Producto diseñado para tu mascota</p>
              <p>Ayuda a evitar la caspa</p>
              <p>Repelente de pulgas incluido</p>
            </div>
            <div class="quantity">

              <button class="plus-btn" type="button" name="button">
                <i class="fas fa-minus"></i>
              </button>
                
              <input type="text" name="name" value="1">

              <button class="minus-btn" type="button" name="button">
                <i class="fas fa-plus"></i>
              </button>

              <button class="agregar-carrito-button" type="submit" value="Agregar al carrito">
                Agregar al carrito
              </button>

            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="flex-container tarjeta-inferior-producto">
          <div class="caracteristicas-tproducto">
            <h4>Caracteristicas</h4>
            <hr>
            <ul>
              <li>Botella de 500mL.</li>
              <li>Plastico resistente.</li>
            </ul>
            <h4>Instrucciones de uso</h4>
            <hr>
            <ol>
              <li>Enjuage a su mascota antes de aplicar.</li>
              <li>Aplique una cantidad aproximada de 20mL sobre la superficie del pelaje.</li>
              <li>Frote suavemente.</li>
              <li>Enjuage hasta que no haya restos sobre el pelaje.</li>
            </ol>
          </div>
          <div class="promo-tproducto">
            <h4>Envios a todo México</h4>
              <i class="fas fa-truck"></i>
            <h4>Garantía de safisfacción</h4>
              <i class="fas fa-shield-alt"></i>
          </div>
        </div>
      </section>
    </main>

    <!-- FOOTER -->

    <footer class="footer-flex">
      <div class="logo-footer">
        <img id="img-footer" src="./img/versionVertical.png" alt="LogoFooter">
      </div>
      <div class="enlaces-1">
        <p>Apartado 1 </p>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </div>
      <div class="enlaces-2">
          <p>Apartado 2 </p>
          <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
          </ul>
      </div>
      <div class="email-dudas">
        <form id="subscribe" action="/" method="POST">
          <p>¡Suscríbete!</p>
          <input id="email-box" type="text" placeholder="Correo...">
          <button id="btnSend" type="submit" value="Enviar">ENVIAR</button>
        </form>
          
      </div>
      <div class="copyright-text">
        <div class="derechosAutor">
            <p>© 2021 Copyright by PetitMx</p>
        </div>
          <div class="redesSociales">
              <p id="redes">SÍGUENOS</p>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"> <i class="fab fa-instagram"></i></a>
              <a href="#"> <i class="fab fa-facebook"></i></a>
          </div>
        </div>
    </footer>
    
  </body>

</html>
