<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> 
   

    <main class="fondo-main">
        
    </main>
    
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    <!--FIN DEL FOOTER -->
    
    <!-- JavaScript -->

    <%- include('../partials/scripts.ejs') %>

  </body>
</html>
