:root {
    --rosa: #f06277;
    --rojo: #ed3237;
    --gris: #4b4b4d;
    --cafe: #663333;
    --amarillo: #ffcc29;
}

#title-dashboard{
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin-left: 0px;
}
