<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> 
   

    <main class="fondo-main">
      <div class="container carrito">
        <div class="row">
          <div class="col s12 m8 l8 cart-margin">
            <i class="fas fa-shopping-cart">
                <span>Carrito de Compras</span>
            </i>
            <table class="highlight centered">
              <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
              </thead>
      
              <tbody>
                <tr>
                  <td>
                    <img class="product-size" src="../img/productos/packPremiumCroquetasPerro.jpg" alt="">
                    <p class="text-product-cart hide-on-small-only ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, reiciendis!</p>
                  </td>
                  <td>$250</td>
                  <td>
                    <a><i class="tiny material-icons">remove</i></a>             
                    <input class="input-count center-align" type="text" name="name" value="1">
                    <a><i class="tiny material-icons">add</i></a>
                  </td>
                  <td>$500</td>
                </tr>
                <tr>
                  <td>
                    <img class="product-size" src="../img/productos/cajaArenaGato.jpg" alt="">
                    <p class="text-product-cart hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quam illum dolor laudantium, esse doloribus?</p>
                  </td>
                  <td>$250</td>
                  <td>
                    <a><i class="tiny material-icons">remove</i></a>             
                    <input class="input-count center-align" type="text" name="name" value="1">
                    <a><i class="tiny material-icons">add</i></a>
                  </td>
                  <td>$500</td>
                </tr>
                <tr>
                  <td>
                    <img class="product-size"  src="../img/productos/alimentoPremiumPeces.jpg" alt="">
                    <p class="text-product-cart hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex odio nesciunt, voluptatum dolores in vero molestias ratione soluta voluptas exercitationem.</p>
                  </td>
                  <td>$250</td>
                  <td>
                    <a><i class="tiny material-icons">remove</i></a>             
                    <input class="input-count center-align" type="text" name="name" value="1">
                    <a><i class="tiny material-icons">add</i></a>
                  </td>
                  <td>$500</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col s12 m4 l4 cart-margin">
            <i class="fas fa-shopping-basket">
              <span>Total del carrito</span>
            </i>
            <table class="striped">  
              <tbody>
                <tr>
                  <td>Subtotal</td>
                  <td>$484.00</td>
                </tr>
                <tr>
                  <td>Cupón: mascota</td>
                  <td>-$50.00</td>
                </tr>
                <tr>
                  <td>Envio</td>
                  <td>$100.00</td>
                </tr>
                <tr>
                  <td><b>Total</b></td>
                  <td><b>$534</b></td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col s12 l12 m12 center-align">
                <div class="input-field inline margin-cupon">
                  <input id="cupon" type="text" class="validate">
                  <label for="cupon">Cupón de descuento</label>
                  <span class="helper-text center-align" data-error="Cupón invalido" data-success="right">Validación de cupón</span>
                </div>
                <a class="waves-effect red waves-yellow btn-small">Aplicar cupón</a><br>
                <button class="btn brown darken-3 waves-effect waves-light btn-compra" type="submit" name="action">Comprar
                  <i class="material-icons left">shopping_basket</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    <!--FIN DEL FOOTER -->
    
    <!-- JavaScript -->

    <%- include('../partials/scripts.ejs') %>

  </body>

</html>
